{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
    <script>
        function formAlerts(){
              $(document).submit((e)=>{
                  e.preventDefault();
                   if(username.val().length > 0){
                      $.get("/check", {username: username.val()}, function(data) {
                          if (data == "false"){
                          alert("Gotta pick a different user name, fam");
                          $(document).unbind('submit').submit();
                          }
                      });
                  }
                  if(username.val() == 0 && password.val() == 0 && confirm.val() == 0){
                      alert('You\'ve got to be kidding me. You did\'t fill out a single thing!');
                      return false;
                  }
                  if (username.val() == 0){
                      alert('Gotta input a username, fam');
                      return false;
                  }
                  if (password.val() == 0){
                      alert('Where\'s the password at?');
                      return false;
                  }
                  if (confirm.val() == 0){
                      alert('Bruh... don\'t you know how to register for an account? Retype your password');
                      return false;
                  }
                  if (password.val() != confirm.val()){
                      alert('Passwords do not match. Try again.');
                      return false;
                  }
                  // $(this).unbind('submit').submit()
                  return true;
              })
          }
      })
    </script>
{% endblock %}
