body {
    background-image: url("donations.jpg");
}
h1 {
    text-align: center;
    text-shadow: 2px 2px black;
    color: white;
}
p {
    text-align: center;
    text-shadow: 1px 1px white;
}
.buttons {
    text-align: center;
    margin: auto;
    padding: auto;
}
#six {
    background-color: white;
}